<div class="swiper bg-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="images/mezcal-destilado-con-mango.jpg"
        alt="gracias a dios mezcal"
      />
      <div class="text-content">
        <h2 class="title">Gracias A Dios <span>Mezcal</span></h2>
        <p>
          A deep commitment to family values and Mexican culture underlines
          their approach to producing handmade, ultra-premium quality mezcal and
          agave gin.</p>
        <a
          href="https://www.thankgad.com/"
          class="read-btn effect effect1"
        >Learn More <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
    <div class="swiper-slide dark-layer">
      <img
        src="images/Mezcal-Joven-Ilegal-Bottle-Shots.jpeg"
        alt="Illegal Mezcal"
      />
      <div class="text-content">
        <h2 class="title">Illegal<span>Mezcal</span></h2>
        <p>
          Handcrafted in small batches by fourth-generation mezcaleros, our
          Joven, Reposado, and Añejo mezcals are all made with perfectly ripe,
          sustainable Espadín agave, double distilled in the Santiago Matatlan
          Valley of Oaxaca, Mexico.</p>
        <a
          href="https://www.ilegalmezcal.com/"
          class="read-btn effect effect1"
        >Learn More <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
    <div class="swiper-slide dark-layer">
      <img src="images/vago-bottles.jpg" alt="Mezcal Vago" />
      <div class="text-content">
        <h2 class="title">Mezcal Vago <span>Mezcal</span></h2>
        <p>
          At Vago, We seek out small batch mezcaleros, who for generations have
          been perfecting their craft deep in the mountains of Southern Oaxaca..</p>
        <a href="https://mezcalvago.com/" class="read-btn effect effect1">Learn
          More
          <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="images/del-maguey-enhanced.jpg" alt="Del Maguey mezcal" />
      <div class="text-content">
        <h2 class="title">Del Maguey<span>Mezcal</span></h2>
        <p>
          Every bottle of Del Maguey Single Village Mezcal tells a story; the
          union of the agave plant and ancient traditions. Each bottle is an
          Expression – a story told by the hand of the maker.</p>
        <a
          href="https://delmaguey.com/?utm_source=Google&utm_campaign=DelMaguey_AlwaysOnSearch_H1_FY23&utm_medium=Paid_search&utm_term=del%20maguey&utm_audience_type=NA&utm_audience_ID=NA&utm_product=DelMaguey_Multi&utm_recipe=NA&gclid=CjwKCAjw-IWkBhBTEiwA2exyO0J4vKDl9XIjsz3tLudEvimJbUr50aLTL824Gt8FzrAjkkD6gRl6CxoCsR4QAvD_BwE&gclsrc=aw.ds"
          class="read-btn effect effect1"
        >Learn More <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="bg-slider-thumbs">
  <div class="swiper-wrapper thumbs-container">
    <img
      src="images/mezcal-destilado-con-mango.jpg"
      class="swiper-slide"
      alt="gracias a dios mezcal"
    />
    <img
      src="images/Mezcal-Joven-Ilegal-Bottle-Shots.jpeg"
      class="swiper-slide"
      alt="Illegal Mezcal"
    />
    <img
      src="images/vago-bottles.jpg"
      class="swiper-slide"
      alt="Mezcal Vago Mezcal"
    />
    <img
      src="images/del-maguey-enhanced.jpg"
      class="swiper-slide"
      alt="Del Maguey Mezcal"
    />
  </div>
</div>