<div class="swiper bg-slider">
  <div class="swiper-wrapper">
        <div class="swiper-slide dark-layer">
      <img src="images/Herradura_OG-1020x534.jpg" alt="Herradura" />
      <div class="text-content">
        <h2 class="title">Herradura <span>Tequila</span></h2>
        <p>
          Tequila Herradura’s long-standing legacy of craftsmanship dates back
          to 1870, at Casa Herradura. With a history as rich as the country
          itself, Casa Herradura, the birthplace of tequila is nothing short of
          extraordinary.</p>
        <a
          href="https://www.herradura.com/products/"
          class="read-btn effect effect1"
        >Learn More
          <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="images/best-g4.jpg" alt="G4 Tequila" />
      <div class="text-content">
        <h2 class="title">G4 <span>Tequila</span></h2>
        <p>
          Perfected over four generations, our artfully crafted tequilas deliver
          unparalleled taste and aroma. For those ready to enjoy exceptional
          tequila, start your new traditions with us.</p>
        <a href="https://g4tequilas.com/" class="read-btn effect effect1">Learn
          More
          <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
    <div class="swiper-slide dark-layer">
      <img src="images/tequila-ocho-article-2-header.jpg" alt="Tequila Ocho" />
      <div class="text-content">
        <h2 class="title">Ocho<span>Tequila</span></h2>
        <p>
          With a truly artisanal approach, Tequila Ocho brings terroir in
          Tequila to life, celebrating single estate agave harvests and yearly
          vintages, making them rare and collectible.</p>
        <a href="https://ochotequila.com/" class="read-btn effect effect1">Learn
          More
          <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
    <div class="swiper-slide">
      <img
        src="images/Patron-Margarita-Perfection-hero-shot-1024x711.jpg"
        alt="Patron "
      />
      <div class="text-content">
        <h2 class="title">Patron<span>Tequila</span></h2>
        <p>
          The story of Patrón goes well beyond revolutionizing the world of
          tequila. It's the story of hard work, a pursuit of perfection, and a
          commitment to doing something the right way at every step.</p>
        <a
          href="https://www.patrontequila.com/our-story.html"
          class="read-btn effect effect1"
        >Learn More <i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="bg-slider-thumbs">
  <div class="swiper-wrapper thumbs-container">
    <img
      src="images/Herradura_OG-1020x534.jpg"
      class="swiper-slide"
      alt="Herradura"
    />
    <img src="images/best-g4.jpg" class="swiper-slide" alt="G4 Tequila" />
    <img
      src="images/tequila-ocho-article-2-header.jpg"
      class="swiper-slide"
      alt="Tequila Ocho"
    />
    <img
      src="images/Patron-Margarita-Perfection-hero-shot-1024x711.jpg"
      class="swiper-slide"
      alt="Patron"
    />
  </div>
</div>