{{> mezcal-swiper}}
{{#if loggedIn}}
{{#each mezcals as |mezcal|}}
{{> mezcal-details}}
{{/each}}
{{else}}
<div class=" p-2, mt-5 mb-2 justify-center">
<h1 class="py-4 px-2 text-center">Please Log In Using The Form Below:</h1>
{{!-- <a class="nav-link justify-center p-4 d-flex" href="/login" >  --}}
{{!-- <h1 class="border border-dark rounded bg-dark text-white p-3 mb-4">log in or sign up</h1></a> --}}
<div class="d-flex justify-center">
{{> login-form}}
</div>
</div>
{{/if}}


<script src="js/swiper-bundle.min.js"></script>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>