{{> mezcal-swiper}}
{{#if loggedIn}}
{{#each mezcals as |mezcal|}}
{{> mezcal-details}}
{{/each}}
{{else}}
<h1>Please Log In Using The Button Above</h1>
{{/if}}


<script src="js/swiper-bundle.min.js"></script>