<form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="image_file">
        <input type="text" name="size" value="auto">
        <button type="submit">Upload</button>
    </form>
<script src="./js/image-upload.js"></script>