<div class="row justify-space-between-md m-3 my-sm-5 mx-lg-5">
  {{> login-form}}
  <div class="login-card">
    <h2 class="page-title d-flex justify-content-center">Signup</h2>
    <form class="form signup-form">
      <div class="form-group px-md-2 px-lg-5">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group px-md-2 px-lg-5">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group px-md-2 px-lg-5">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>